 
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    
    background-color: #EBE3E0;   
    
}


/* Inicio Header */

header{
    position: fixed;
    top: 0;
    width: 100%;

    background-image: url(./multimedia/images/headernuevo2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30%;
  
    

}
/*Menu navegable*/

.menusuperior {

    
    
    
    list-style-type: none;
    font-family: 'Macondo', cursive;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    
    
    
} 
.menusuperior li  {
    margin-top: 7%;
    display: inline-block;
    width: 16%;
   
    
    
      
    
}
.menusuperior a {
    
    background-color: rgba(197, 199, 209, 0.655);    
    padding: 10px;
    color: black;
    display: block;
    font-size: 1.5em;
    transition: all 1s;
  
}

.menusuperior a:hover {
    background-color: #F0C62F;
    
}
/*Fin menu navegable*/


/* Tipografias */ 
  

h1 {
    text-align: center;
    font-family: 'Macondo', cursive;
    
}



h2 {
    text-align: center;
    font-family: 'Macondo', cursive;
    
}

h3 {
    font-family: 'Macondo', cursive;

}

h4 {
    font-size: 1.5em;
    font-family: 'Macondo', cursive;
}

p {
    font-family: 'Macondo', cursive;
}

/* Fin Tipografias */




/*Footer*/

footer {
    background-image: url(./multimedia/images/footernuevo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
    height: 25%;
    width: 100%;
       
}

footer li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;    
}

footer img {
    transition: all 1s;
    
}
footer img:hover {
    transform: scale(1.5);
}

.logos {
    width: 50px ;
    margin: 2px;   
}

/*Fin Footer*/

/*-----------------------------------------------------------------------------------------*/

/*Inicio Index*/



.mainindex {
    margin-top: 14%;
    margin-left: 5%;
    margin-right: 5%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(100px * 3) ;    
    gap: 5%
    
}



.mainindex section img {
    width: 100%;
    transition: all 1s;
}
.mainindex section img:hover {
    transform: scale(1.05);
}



.publi-index {
    margin-left: 15%;
    margin-right: 15%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
    margin-top: 10%;

}

 

#tribuafrica {
    background-image: url(./publicaciones/tribuafrica/multimedia/images/tribuafrica.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#tribuafrica a {
    color: black;
    text-decoration: none;
    
}

#glandulatimo {
    background-image: url(./multimedia/images/publicacion1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#glandulatimo a {
    color: #EBE3E0;
    text-decoration: none;
}

/*Fin Index*/

/*-----------------------------------------------------------------------------------------------------*/
/*Galeria*/

.main-galeria {
    margin-top: 14%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 550px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.item-galeria img {
    width: 100%;
    transition: all 1s;
}
.item-galeria img:hover {
    transform: scale(1.05);
}


/*Fin Galeria*/
/*-----------------------------------------------------------------------------------------------------*/




